.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea

### Kotlin ###
.kotlin

### VS Code ###
.vscode

### AoC inputs ###
input

### Claude ###
.claude